'torch': '2.6.0+cu124'
'torchvision': '0.21.0+cu124'
'PIL': '11.2.1'
'tqdm': '4.67.1'
'transformers':'4.52.4'
'diffusers': '0.34.0'
'accelerate': '1.8.1'
'huggingface_hub': '0.33.1'
'safetensors': '0.5.3'
